@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #F4F1E7;
  color: #241F16;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #DAD3BE;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
